header {
    background-color: #333;
}

body {
    font-family: 'Inter Tight', sans-serif;
    background-color: #343a40;
}


.colored-text {
    color: rgb(72, 72, 250);
}

.carousel-img {
    height: 80vh;
}

.navbar-brand, .white-texts {
    color: white;
}

.nav .nav-link.active, #novas-granadas button{
    background-color: white;
    color: rgb(142, 142, 255);
}

#novas-granadas button{
    background-color: rgb(142, 142, 255);
    color: white;
}

section#granadas, section#home {
    background-color: #3c4247;
}
.card, .carousel-text {
    transition: transform 0.7s;
    transform: scale(1);
}

.card:hover, .carousel-item:hover .carousel-text {
    transform: scale(1.05)
}

.card-links {
    text-decoration: none;
    color: white;
}

.social-media li {
    list-style: none;
    display: inline;
}

.social-media a {
    text-decoration: none;
}

@media screen and (max-width:767px) {
    .carousel-img {
        height: 30vh;
    }
}

@media screen and (min-width:768px) and (max-width:1023px){
    .carousel-img {
        height: 40vh;
    }
}
